.advice
    .advice__column.advice_1
        .advice__column_content
            .advice__button
                a(href='#') Machine
            .advice__title Here's A Quick Way To Solve A Problem with Photo
            .advice__timeago 2 Hours ago
    .advice__column.advice_2
        .advice__column_content
            .advice__button
                a(href='#') Machine
            .advice__title Listen To Your Customers. They Will Tell You All About Photo
            .advice__timeago 2 Hours ago
    .advice__column.advice_3
        .advice__column_content
            .advice__button
                a(href='#') Machine
            .advice__title Do Photo Better Than Most
            .advice__timeago 2 Hours ago
    .advice__column.advice_4
        .advice__column_content
            .advice__button
                a(href='#') Machine
            .advice__title 10 Secret Things You Didn't Know About Photo
            .advice__timeago 2 Hours ago