.footer
    .footer__column.info
        .info__logo Decision
        .info__year decision-2016
        .info__text Terms of use
        .info__company Gravpix
        .info__text All right reserved
    .footer__column.nav
        .nav__link
            a(href='#') ¬ about
        .nav__link
            a(href='#') ¬ articles
        .nav__link
            a(href='#') ¬ News
        .nav__link
            a(href='#') ¬ BLOG
    .footer__column.social
        .social__vk
            a(href='#') vk
        .social__inst
            a(href='#') inst
        .social__fb
            a(href='#') fb
        .social__ut
            a(href='#') you tube
    .footer__column.company
        .company__name gravpix
script(src='js/main.js')