.gallery
    .gallery__columns
        .gallery__columns_item.galleryMain
            .galleryMain__title photo gallery
            .galleryMain__arrow
                img(src='img/icons/arrow.svg', alt)
            .galleryMain__button
                a(href='#') All galleries
        .gallery__columns_item.galleryOthers
            .galleryOthers__img
                img(src='img/gallery/01.jpg', alt)
            .galleryOthers__name.name1
                .galleryOthers__name_button.name1__button
                    a(href='#') Photo
                .galleryOthers__name_title The A - Z Guide Of Photo
                .galleryOthers__name_timeago 2 hours ago
                .galleryOthers__name_objectscounter 24
        .gallery__columns_item.galleryOthers
            .galleryOthers__img
                img(src='img/gallery/02.jpg', alt)
            .galleryOthers__name.name2
                .galleryOthers__name_button.name2__button
                    a(href='#') Photo
                .galleryOthers__name_title How To Use Photo To Desire
                .galleryOthers__name_timeago 2 hours ago
                .galleryOthers__name_objectscounter 105
        .gallery__columns_item.galleryOthers
            .galleryOthers__img
                img(src='img/gallery/03.jpg', alt)
            .galleryOthers__name.name3
                .galleryOthers__name_button.name3__button
                    a(href='#') Photo
                .galleryOthers__name_title Photo? It's Easy If You Do It Smart
                .galleryOthers__name_timeago 2 hours ago
                .galleryOthers__name_objectscounter 17