.header
    .header__hat
        .header__hat_logo Decision
        .header__hat_nav
            ul
                li
                    a(href='#') Blog
                li
                    a(href='#') Projects
                li
                    a(href='#') Services
                li
                    a(href='#') News
                li
                    a(href='#') Categories
                li
                    a(href='#') Contacts
                li.header__hat_serch
                    a(href='#')
                        img(src='img/icons/search.png', alt)
        .header__hat_burger
            span
    .header__main
        .header__main_columns
            .part__one.part
                .part__one_button
                    a(href='#') Europe
                .part__one_title What Your Customers Really Think About Your Blog?
                .part__one_timeago 2 hours ago
            .part__two.part
                .part__two_button
                    a(href='#') Asia
                .part__two_title Top 10 Tips To Grow Your Blog
                .part__two_timeago 2 hours ago
            .part__three.part
                .part__three_button
                    a(href='#') Champion
                .part__three_title How To Turn Your Blog From Zero To Hero
                .part__three_timeago 2 hours ago
            .part__four.part
                .part__four_button
                    a(href='#') Cup
                .part__four_title Read This Controversial Article And Find Out More About Blog
                .part__four_timeago 2 hours ago
