.interesting
    .interesting__item.intimg1
        .interesting__item_button
            a(href='#') Machine
        .interesting__item_title Photo And Love Have 4 Things In Common
        .interesting__item_timeago 2 hours ago
    .interesting__item.intimg2
        .interesting__item_button
            a(href='#') Machine
        .interesting__item_title Winning Tactics For Photo
        .interesting__item_timeago 2 hours ago
    .interesting__item.intimg3
        .interesting__item_button
            a(href='#') Machine
        .interesting__item_title Photo An Incredibly Easy Method That Works For All
        .interesting__item_timeago 2 hours ago
    .interesting__item.intimg4
        .interesting__item_button
            a(href='#') Machine
        .interesting__item_title Why Photo Is The Only Skill You Really Need
        .interesting__item_timeago 2 hours ago