.news
    .news__column
        .news__column_title News
        .news__column_block.block
            .block__time 17.48
            .block__title How To Learn world
            .block__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
        .news__column_block.block
            .block__time 17.48
            .block__title How To Learn world
            .block__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
        .news__column_block.block
            .block__time 17.48
            .block__title How To Learn world
            .block__text But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system
        .news__column_all
            a(href='#') All news
    .news__midle
        .news__midle_top.top
            .top__content
                .top__content_button
                    a(href='#') Machine
                .top__content_subtitle The Hidden Mystery Behind machine
                .top__content_title Your Key To Success: Machine
                .top__content_timeago 5 hours ago
        .news__midle_bottom.bottom
            .bottom__content.bottom__content_1
                .bottom__content_button
                    a(href='#') Machine
                .bottom__content_title Answered: Your Most Burning Questions About World
                .bottom__content_timeago 2 hours ago
            .bottom__content.bottom__content_2
                .bottom__content_button
                    a(href='#') Machine
                .bottom__content_title Winning Tactics For World
                .bottom__content_timeago 2 hours ago
    .news__column
        .news__column_topics.topics
            .topics__title How To Make More World By Doing Less
            .topics__timeago 2 HOurs ago
            .topics__title The Untold Secret To Blog In Less Than Ten Minutes
            .topics__timeago 2 HOurs ago
            .topics__title 5 Problems Everyone Has With Blog – How To Solved Them
            .topics__timeago 2 HOurs ago
        .news__column_square.square
            .square__content
                .square__content_buttom
                    a(href='#') Machine
                .square__content_title Quick and Easy Fix For Your World
                .square__content_timeago 2 HOurs ago