.some
    .some__bgimg
        .some__content
            .some__content_button
                a(href='#') Machine
            .some__content_title Proof That Photo Is Exactly What You Are Looking For
            .some__content_timeago 2 Hours ago