doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        link(rel="stylesheet" href="main.min.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css?family=Fira+Sans:900|Lato:700,900|Maven+Pro:800,900|Open+Sans:400,800&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
        title Endless Ride
    body.notranslate
        .wrapper
            include sections/header
            include sections/news
            include sections/gallery
            include sections/interesting
            include sections/some
            include sections/advice
            include sections/footer
